<mat-toolbar class="mat-elevation-z2" >
    <button mat-icon-button >
      <mat-icon>menu</mat-icon>
    </button>

    <span>Blog Post</span>

    <span class="example-spacer"></span>

    
    <button mat-icon-button >
        <mat-icon routerLink="./">home</mat-icon>
      </button>

      <button mat-icon-button >
        <mat-icon routerLink="post">markunread_mailbox</mat-icon>
      </button>

      <button mat-icon-button >
        <mat-icon routerLink="about">list_alt</mat-icon>
      </button>
  </mat-toolbar>
  
